
.parrafo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  text-align: center;
  color: white;
}

.cuadro {
  width: 450px;
  height: 870px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px white;
  padding: 20px 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

section{
  background-color: black;
}

html{
  background-color: black;
}

footer{
  background-color: black;
}