h2, p, span, li{
    background-color: blueviolet;
    border: 1px solid;
    border-radius: 5px;
}
#item1{
    width: 150px;
    padding-top: 4px;
    text-align: center;
}
#limpio2{
    margin-left: 10px;
    margin-top: 5px;
    display: block;
    
}
h2{
    margin-left: 9px;
    display: inline;
}