div{
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-color: rgb(24, 53, 216);
    color: rgb(0, 0, 0);
    
}
#div1{
    background-color: rgb(0, 255, 55);
    border-radius: 80%;
    background-image: url("/cajas/image/photo.jpg");
    image-orientation: from-image;
    background-repeat: no-repeat;
    background-position: center;
    width: 16%;
    background-size: cover;
}
#div2{
    background-color: rgb(241, 238, 10);
    width: 82%;
    float: right;
    padding-left: 20px;
   
}
#div3{
    background-color: rgb(235, 10, 10);
    position: relative;
    left: 500px;
    top: 35px;
}
#div4{
    background-color: rgb(48, 238, 63);
    position: relative;
    left: 500px;
    top: 300px;

}

#div5{
    background-color: rgb(113, 114, 113);
    position: absolute;
    top: 500px;
    width: 400px;
}
#div6 {
    background-color: rgb(112, 215, 255);
    position: fixed;
    bottom: 600PX;
    width: 40PX;
}
#div6 img{
    width: 30px;
    height: 30px;
}

#div6 img:hover{
    width: 40px;
    height: 40px;
}
#div1,#div2{
    display: inline-block;
}
#div3, #div4{
    width: 800px;
    height: 300px;
    
}