#colFechaNac{background-color: darkgreen;}
*{color: darkorange;}
td{font-family: 'Times New Roman', Times, serif;}
.tabla1{color: chocolate;background-color: goldenrod;border-style: groove;}
.tabla2{color: mistyrose;background-color: yellow;border-style: ridge;}